{% extends 'base.html' %}

{% block header %}
<p>
    <a href="//architect.io" target="blank">
        <img
            src="https://cdn.architect.io/logo/horizontal.png"
            width="320"
            alt="Architect Logo"
        />
    </a>
</p>
{% endblock %}

{% block nextsteps %}
{% include 'content/next_steps.html' %}
{% endblock %}

{% block user_input %}
<form method="post">
    <div class="user_inputs">
        <label for="formName" 
            class="form-label">
            Movie Title
        </label>
        <input 
            placeholder="Movie Title" 
            type="text" 
            id="formName" 
            name="formName"
            class="form-control" 
            value=""
            maxlength="80">
    </div>
    <div class="user_inputs">
        <label for="forRating" 
            class="form-label">
            Rating
        </label>
        <input 
            placeholder="Rating 1-5" 
            type="number" 
            id="forRating" 
            name="forRating"
            class="form-control" 
            value=""
            min="1"
            max="5">
    </div>
    <div class="d-grid gap-2">
        <button type="submit">
            Submit
        </button>
    </div>
</form>
{% endblock %}

{% block user_table %}
{% if posts %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{post.name}}</td>
            <td>{{post.rating}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No entries found</p>
{% endif %}
{% endblock %}